@model List<RouterFinder.Web.Models.Route>
@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-center mb-2 pt-2">
    <div class="col-10 col-lg-12 pt-2">
        <div class="alert alert-primary d-flex justify-content-between align-items-center">
            <h3>
                <i class="fas fa-map-marker-alt me-1"></i>
                List of all routes
            </h3>
            <span id="btShowModal" class="btn btn-primary">
                <i class="fas fa-route me-1"></i>
                new Route
            </span>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 col-lg-12">
        <table class="table table-bordered shadow table-sm table-hover shadow">
            <thead>
                <tr>
                    <th class="thPrimary text-primary">From</th>
                    <th class="thPrimary text-primary">To</th>
                    <th class="thPrimary text-primary">Cost</th>
                    <th class="thPrimary text-primary" style="width: 130px">#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var route in Model)
                {
                    <tr>
                        <td>@(route.routeFrom)</td>
                        <td>@(route.routeTo)</td>
                        <td>@(route.routeValue)</td>
                        <td class="text-center">
                            <span class="cursor text-primary" data-bs-toggle="modal" data-bs-target="#modalAdd" data-id="@(route.Id)" onclick="localStorage.setItem('idRoute', '@(route.Id)'); localStorage.setItem('op', 'edit'); document.getElementById('from').value='@(route.routeFrom)'; document.getElementById('to').value='@(route.routeTo)'; document.getElementById('cost').value='@(route.routeValue)'">
                                <i class="fas fa-edit me-1"></i>
                            </span>
                            <span class="cursor text-danger" data-bs-toggle="modal" data-bs-target="#modalRemove" data-id="@(route.Id)" onclick="localStorage.setItem('idRoute', '@(route.Id)');">
                                <i class="fas fa-trash ms-1"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!--Modal Add-->
<div class="modal fade" id="modalAdd" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">
                    <i class="fas fa-route me-1"></i>
                    Add route

                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="frmAdd">
                        <input id="typeOp" type="hidden" value="" />
                        <div class="row mb-1">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="from" class="">From</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-primary">
                                            <i class="fad fa-map-marked"></i>
                                        </span>
                                        <input type="text" class="form-control" id="from" placeholder="from">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="from" class="text-primary">From</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-primary">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                        <input type="text" class="form-control" id="to" placeholder="to">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="cost" class="text-primary">Cost</label>
                                    <input type="number" class="form-control" id="cost" placeholder="cost">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" asp-action="Index" data-bs-dismiss="modal">Close</a>
                <span class="btn btn-primary" id="btAdd">Save changes</span>
            </div>
        </div>
    </div>
</div>

<!--Modal Remove-->
<div class="modal fade" id="modalRemove" tabindex="-1">
    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">
                    <i class="fas fa-route me-1"></i>
                    Remove route
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 text-danger">
                <h4>Are you shure?</h4>
            </div>
            <div class="modal-footer">
                <button id="modalRemoveClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <span class="btn btn-danger" id="btRemove">Revove</span>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script src="~/js/routes.js"></script>
}